<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Signin!</title>
</head>

<body>
	<form id="signin" name="signin" method="post" action="/signin">
		<input type="email" placeholder="Email Address" name="email" id="firstq" required>
		<input type="password" placeholder="Password" name="thepassword" id="secondq" required>
		<button class="button" id="login" value="Sign Up">Login</button>
	</form>

 </body>
</html>
